<div class = 'container'>
	<h4> Intent: {{ this.name }}</h4>
	<input type="hidden" id=input-id value={{this.id}}>
	<h5>Preguntas del usuario</h5>
	{{#each this.userSays }}
		<div class="row">
			<div class="col s8">
			{{#each data}}
				{{#if meta}}
					{{#isnt meta "@sys.ignore" }}
						<span><b>(Entidad: </b> {{text}})</span>
					{{/isnt}}
					{{#eq meta "@sys.ignore"}}
						<span>{{text}}</span>
					{{/eq}}
				{{else}}
					<span> {{text}} </span>
				{{/if}}
			{{/each}}
			</div>
			<div class="col s4">
				<button class="left btn btn-primary col s3" id="edit-question"><i class="material-icons">mode_edit</i></button>
				<button class="right btn btn-primary col s3" id="delete-question"><i class="material-icons">delete</i></button>
			</div>
		</div>
	{{/each}}
	<h5>Respuestas del chatbot</h5>
	{{#each this.responses }}
		{{#each messages }}
		<div class="card">
			<div class="card-title">Bloque {{add @key 1}}:</div>
				<div class="row">
				<p class="col s8">{{imageUrl}}</p>
				<div class="col s4">
          			<button class="left btn btn-primary col s3" id="edit-response">
						  <i class="material-icons">mode_edit</i>
					</button>
					<button class="right btn btn-primary col s3" id="delete-response">
						<i class="material-icons">delete</i>
					</button>
				</div>
			</div>
			{{#each speech}}
			<div class="row">
				<p class="col s8">{{this}}</p>
				<div class="col s4">
          			<button class="left btn btn-primary col s3" id="edit-response"><i class="material-icons">mode_edit</i></button>
					<button class="right btn btn-primary col s3" id="delete-response"><i class="material-icons">delete</i></button>
				</div>
			</div>
			{{else}}
				<p>{{speech}}</p>
		{{/each}}
		</div>
	{{/each}}
	{{/each}}
	<button class="right btn btn-primary col s3" id="btn-delete-intent"><i class="material-icons">delete</i></button>
</div>