<!--<div class="container center-align" id="body-wrapper">
    <h5 class="indigo-text">{{this.name}}</h5>
<form action="/edit" method="POST">
<input type="hidden" name="id" id="input-id" value="{{this.id}}">
<button class="left btn btn-primary right indigo" type="submit" id="open-edit-intent">
    <i class="material-icons">mode_edit</i>
</button>
</form>
    <div class="row ">
        <div class="input-field col s12">
            <div class="collection col s10 m10 offset-m1 offset-s1">
            <h5 class="collection-item indigo-text">Preguntas del usuario</h5>
			{{#each this.userSays }}
                <p class="collection-item">
                {{#each data}}
             		{{#if meta}}
					        {{#isnt meta "@sys.ignore" }}
						        <span>@{{alias}}</span>
					        {{/isnt}}
					        {{#eq meta "@sys.ignore"}}
						        <span>{{text}}</span>
					        {{/eq}}
				    {{else}}
					    <span> {{text}} </span>
				    {{/if}}

                {{/each}}
                </p>

            {{/each}}

        </div>
        <div class="select input-field col s10 m10 offset-m1 offset-s1">
            {{#each this.responses }}
                {{#each messages}}
                    {{#if textToSpeech}}
                        <div class="card type-text input-field col s12"><h5 class="indigo-text">Respuestas del chatbot</h5>
                        <p>{{textToSpeech}}</p></div>
                    {{/if}}
                    {{#if items}}
                        <div class="card type-text input-field col s12"><h5 class="indigo-text">Respuestas del chatbot</h5>
                        {{#each items}}
                        <p>{{textToSpeech}}</p>
                        {{/each}}
						</div>
                    {{/if}}
                    {{#if image}}
                        <div class="card type-image input-field col s12"><h5 class="indigo-text"> Imagen/Gif</h5>
                        <p>{{image.url}}</p></div>
                    {{/if}}
                    {{#if url}}
                        <div class="card type-link input-field col s12"><h5 class="indigo-text"> Link/Documento</h5>
                            <p>{{destinationName}}</p>
                            <p>{{url}}</p>
                        </div>
                    {{/if}}
                {{/each}}
            {{/each}}
        </div>
    </div>
<button class="right btn btn-primary red" id="btn-delete-intent"><i class="material-icons right">delete</i>ELIMINAR</button>

</div>
</div>-->

<div class="divTituloPagina"><h2 class="tituloPagina">{{this.name}}</h2></div>

        <div class="card cardDetallesIntent">
            <h6 class="subtituloEntidad">Preguntas del usuario</h6>
            <hr class="hrTitulo">
            <div class="card-body cardBodyListado d-flex flex-column" >
                {{#each this.userSays }}
                <div class="itemListado listaSinBoton">
                {{#if data}}
                <p class="nombreItemListado">
                {{#each data}}
             		{{#if meta}}
					        {{#isnt meta "@sys.ignore" }}
						        <span>@{{alias}}</span>
					        {{/isnt}}
					        {{#eq meta "@sys.ignore"}}
						        <span>{{text}}</span>
					        {{/eq}}
				    {{else}}
					     <span>{{text}}</span>
				    {{/if}}

                {{/each}}
                </p>
                </div>
                <hr class="separadorItems">
                {{/if}}
            {{/each}}
            </div>
        </div>
        <div class="card cardDetallesIntent cardResp cardRespuesta">
            <input type="hidden" name="hidden" value=""/>
            <h6 class="subtituloEntidad">Respuestas</h6>
            <hr class="hrTitulo">
            <form class="form-inline md-form form-sm">
        {{#each this.responses }}
            {{#if messages}}
                {{#each messages}}
                    {{#if textToSpeech}}
                                <div class="md-form divRespuesta bloq type-text">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <input type="text" class="form-control response validate" placeholder="Respuesta" value="{{textToSpeech}}">
                                    <button class="btn btn-sm btn-indigo botonBorrar btn-delete-variant" type="button"><i class="fa fa-trash"></i></button>
                                </div>
                    {{/if}}
                    {{#if items}}
                                {{#each items}}
                                    <div class="md-form divRespuesta bloq type-text">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                        <input type="text" class="form-control response validate" placeholder="Respuesta" value="{{textToSpeech}}">
                                        <button class="btn btn-sm btn-indigo botonBorrar btn-delete-variant" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                {{/each}}
                    {{/if}}
                    {{#if image}}
                                <div class="md-form divRespuesta bloq type-image">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                    <input type="text" class="form-control response validate" placeholder="Respuesta" value="{{image.url}}">
                                    <button class="btn btn-sm btn-indigo botonBorrar btn-delete-variant" type="button"><i class="fa fa-trash"></i></button>
                                </div>
                    {{/if}}
                    {{#if url}}
                                <div class="md-form divRespuesta bloq type-link">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <input type="text" class="form-control response" placeholder="Respuesta" value="{{destinationName}}">
                                    <input id="linkUrl" type="text" class="form-control url" placeholder="Respuesta" value="{{url}}">
                                    <button class="btn btn-sm btn-indigo botonBorrar btn-delete-variant" type="button"><i class="fa fa-trash"></i></button>
                                </div>
                                
                    {{/if}}
                {{/each}}
                {{/if}}
            {{/each}}
        
            <!-- {{#each this.responses }}
                {{#if messages}}
                    {{#each messages}}
                        {{#if textToSpeech}}
                        <div class="card cardDetallesIntent cardResp">
                            <h6 class="subtituloEntidad">Respuesta Texto</h6>
                            <hr class="hrTitulo">
                            <div class="card-body cardBodyListado d-flex flex-column" >
                                <div class="itemListado listaSinBoton">
                                    <p class="nombreItemListado">{{textToSpeech}}</p>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{#if items}}
                                <div class="card cardDetallesIntent cardResp">
                                    <h6 class="subtituloEntidad">Respuestas de Texto</h6>
                                    <hr class="hrTitulo">
                                        <div class="card-body cardBodyListado d-flex flex-column" >
                                            {{#each items}}
                                                <div class="itemListado listaSinBoton">
                                                        <p class="nombreItemListado">{{textToSpeech}}</p>
                                                </div>
                                                <hr class="separadorItems">
                                            {{/each}}
                                        </div>
                                </div>
                        {{/if}}
                        {{#if image}}
                        <div class="card cardDetallesIntent cardResp">
                            <h6 class="subtituloEntidad">Respuesta Imagen</h6>
                            <hr class="hrTitulo">
                            <div class="card-body cardBodyListado d-flex flex-column" >
                                <div class="itemListado listaSinBoton">
                                    <p class="nombreItemListado">{{image.url}}</p>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{#if url}}
                        <div class="card cardDetallesIntent cardResp">
                            <h6 class="subtituloEntidad">Respuesta Link</h6>
                            <hr class="hrTitulo">
                            <div class="card-body cardBodyListado d-flex flex-column" >
                                <div class="itemListado listaSinBoton">
                                    <p class="nombreItemListado">{{destinationName}}</p>
                                    <p class="nombreItemListado">{{url}}</p>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    {{/each}}
                {{/if}}
            {{/each}}-->
        <div class="flex-center divBotonesPequennos" >
            <form action="/edit" method="POST" class="editIntentButtons">
                <input type="hidden" name="id" id="input-id" value="{{this.id}}">
                <button type="submit" id="open-edit-intent" class="btn btn-secondary botonPequenno btnDetail">Editar</button>
            </form>
            <form action="/intents" class="editIntentButtons">
                <button class="btn btn-warning botonPequenno btnDetail">Volver</button> 
            </form>
            <form action="#" class="editIntentButtons">
                <button id="btn-delete-intent" type="submit" class="btn btn-danger botonPequenno btnDetail">Borrar</button>
            </form>
        </div>