<!--<div id="body-wrapper"  >
 
    <h4 class="center indigo-text">Editando Entidad</h4>
    <input id="id-entity" type="hidden" name="name" class="validate" value="{{ this.id }}">
    <div class="row ">
        <div class="input-field col m6 s8 offset-m3 offset-s2">
            <input id="name-entity" type="text" name="name" class="validate" value="{{ this.name }}">
            <label for="name">Nombre de la entidad</label>
        </div>
        <div class="input-field col m6 s8 offset-m3 offset-s2">
            <p>Sinónimos</p>
            {{#each this.entries }}
                <div class="synonym_block">
                <input class="synonym" name="sinonym" type="text" class="validate" value="{{ value }}">
                {{#if @index}}
                    <button class="btn-delete-synonym btn btn-primary indigo"><i class="material-icons">delete</i></button>
                {{/if}}
                </div>
	        {{/each}}
            <button class="btn btn-small waves-effect waves-light indigo right" id="add-synonym" name="addSinonym">Añadir Sinónimo
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="input-field col m6 s8 offset-m3 offset-s2">
        <button class="btn waves-effect waves-light indigo" type="submit" id="btn-edit-entity" name="submit">Enviar
            <i class="material-icons right">send</i>
        </button>
        </div>
    </div>
   <button class="right btn btn-primary red" id="btn-delete-entity"><i class="material-icons right">delete</i> ELIMINAR</button>
</div>
-->

<div class="divTituloPagina"><h2 class="tituloPagina">Editar Entidad</h2></div>
    <input id="id-entity" type="hidden" name="name" class="validate" value="{{ this.id }}">
        <form class="form-inline md-form form-sm inputEditable" id="inputNombreEntidad">
            <div class="md-form">
                <h6 class="subtituloEntidad">Nombre de la entidad</h6>
            <input id="name-entity" type="text" name="name" class="form-control validate" value="{{ this.name }}" placeholder="nombre">
            </div>
        </form>
        <div class="card tarjeta divListadosSinonimos">
            <h6 class="subtituloEntidad">Sinónimos</h6>
            <form class="form-inline md-form form-sm" id="listaSinonimos">
            {{#each this.entries }}
                <div class="md-form divSinonimo">
                <input class="synonym" name="sinonym" type="text" class="form-control validate" value="{{ value }}">
                {{#if @index}}
                    <button type="button" class="btn btn-sm btn-indigo botonBorrar btn-delete-synonym"><i class="fa fa-trash"></i></button>
                {{/if}}
                </div>
	        {{/each}}

            <input type="hidden" class="before" name="before">
            </form>  
            <div class="flex-center divBotonesMedianos" >
                    <button class="btn btn-indigo botonMediano" id="edit-synonym" name="addSinonym">Añadir</button>
                    <button class="btn btn-indigo botonMediano" type="submit" id="btn-edit-entity" name="submit">Enviar</button> 
            </div> 
        </div>
        <div class="flex-center divBotonesPequennos" >
            <form action="#" class="editIntentButtons">
                <button id="btn-delete-entity" class="btn btn-danger botonPequenno">Borrar</button>
            </form>
            <form action="/entities" class="editIntentButtons">
                <button class="btn btn-warning botonPequenno backButton">Volver</button> 
            </form>
        </div>
