<!--<div id="body-wrapper" class="container center-align">
     <div class="card-create card">
    <h5>Editar Intent</h5>
    <div class="row ">
        <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate" value="{{this.name}}">
            <label for="name">Nombre del intent</label>
        </div>
        <p id="err-name" class="red-text"></p>
        <input type="hidden" id="input-id" value={{this.id}}>
        <div class="input-field col s12">
            <p>Preguntas del usuario</p>
            {{#each this.userSays }}
                <div class="data_text">
                <span class="span-hide hide">
                {{#each data}}
             		{{#if meta}}
					        {{#isnt meta "@sys.ignore" }}
						        <span>#{{alias}}</span>
					        {{/isnt}}
					        {{#eq meta "@sys.ignore"}}
						        <span>{{text}}</span>
					        {{/eq}}
				    {{else}}
					    <span> {{text}} </span>
				    {{/if}}

                {{/each}}
                </span>
                <input class="user input" name="user" type="text" class="validate">
                <p class="span red-text"></p>
                <ul class="collection"></ul>
                 {{#if @index}}
                    <button class="btn-delete-variant btn btn-primary indigo"><i class="material-icons">delete</i></button>
                 {{/if}}
                
                </div>
            {{/each}}
            <p id="err-user" class="red-text"></p>
            <button class="btn btn-small waves-effect waves-light right indigo" id="addUserText" name="addUserText">Añadir Pregunta
                <i class="material-icons right">add</i>
            </button>
        </div>
        <div class="input-field col s12 edit-responses">
            {{#each this.responses }}
                {{#each messages}}
                    {{#if textToSpeech}}
                        <div class="bloq type-text input-field col s12"><p>Respuestas del chatbot</p>
                        <div>
                        <input class="response validate input" type="text" value= "{{textToSpeech}}">
                        <p class="span red-text"></p>
                        <ul class="collection"></ul>
                        </div>
                        <button class="btnAddVariant btn-small indigo waves-effect waves-light right"
                        name="addResponse">Añadir variante<i class="material-icons right">add</i></button><button class="btn-delete-bloq btn btn-primary indigo left">Borrar respuesta</button></div>
                    {{/if}}
                    {{#if items}}
                        <div class="bloq type-text input-field col s12"><p>Respuestas del chatbot</p>
                        {{#each items}}
                        <div>
                        <input type="text" class="input response validate" value="{{textToSpeech}}">
                        <p class="span red-text"></p>
                        <ul class="collection"></ul>
                         {{#if @index}}
                        <button class="btn-delete-variant btn btn-primary indigo"><i class="material-icons">delete</i></button> 
                         {{/if}}
                        
                        </div>
                        {{/each}}
                        <button class="btnAddVariant btn-small waves-effect waves-light right indigo"
                        name="addResponse">Añadir variante<i class="material-icons right">add</i></button><button class="btn-delete-bloq btn btn-primary indigo left">Borrar respuesta</button></div>
                    {{/if}}
                    {{#if image}}
                        <div class="bloq type-image input-field col s12"><p> Imagen/Gif</p>
                        <div>
                        <input class="response" name="gifResponse" type="text" class="validate" value="{{image.url}}"></div>
                        </button><button class="btn-delete-bloq btn btn-primary indigo left">Borrar respuesta</button>
                        </div>
                    {{/if}}
                    {{#if url}}
                        <div class="bloq type-link input-field col s12"><p> Link/Documento</p>
                        <div>
                            <input class="response" id="linkResponse" type="text" value="{{destinationName}}" class="validate">
                            <input class="url" id="linkUrl" type="text"  value="{{url}}" class="validate">
                            <button class="btn-delete-bloq btn btn-primary indigo left">Borrar respuesta</button>
                        </div>
                        </div>
                    {{/if}}
                {{/each}}
            {{/each}}
            <a class='dropdown-trigger btn select indigo' href='#' data-target='dropdown'>Añadir Respuesta</a>
            <ul id='dropdown' class='dropdown-content'>
                <li>
                    <a class="text-li indigo-text" name="type-text">Texto</a>
                </li>
                <li>
                    <a class="image-li indigo-text" name="type-image">Imagen</a>
                </li>
                <li>
                    <a class="image-li indigo-text" name="type-gif">Gif</a>
                </li>
                <li>
                    <a class="link-li indigo-text" name="type-link">Enlace</a>
                </li>
                <li>
                    <a class="link-li indigo-text" name="type-document">Documento</a>
                </li>
            </ul>

        </div>
        <p id="err" class="red-text"></p>
        </div>
        <button class="btn waves-effect waves-light indigo" type="submit" id="btn_edit_intent" name="btn_edit_intent">Enviar
            <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light indigo" type="submit" id="cancel" name="submit">Cancelar
        </button>
    </div>
   <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">forum</i>Opciones avanzadas</div>
                <div class="collapsible-body">
                    <div class="input-field col s6 offset-s3">
                        <input id="contextIn" type="text" name="contextIn" class="validate" value="{{ this.contexts }}">
                        <label for="contextIn">Contexto de entrada</label>
                    </div>
                    <div class="input-field col s6 offset-s3">
                        <input id="contextOut" type="text" name="contextOut" class="validate" value="{{ this.responses.0.affectedContexts.0.name }}">
                        <label for="contextOut">Contexto de salida</label>
                    </div>
                </div>
            </li>
        </ul>
</div>-->











<div class="divTituloPagina"><h2 class="tituloPagina">Editar Intent</h2></div>
        <form class="form-inline md-form form-sm inputEditable" id="inputNombreEntidad">
            <div class="md-form">
                <h6 class="subtituloEntidad">Nombre del Intent</h6>
                <input id="name" type="text" name="name" class="form-control validate" value="{{this.name}}">
            </div>
            <p id="err-name" class="red-text"></p>
        </form>
        <input type="hidden" id="input-id" value={{this.id}}>
        <div class="card cardDetallesIntent cardPreguntasUsuario edit-responses">
            <h6 class="subtituloEntidad">Preguntas del usuario</h6>
            <hr class="hrTitulo">
            <form class="form-inline md-form form-sm">
            {{#each this.userSays }}
                <div class="md-form divPregunta editIntent">
                {{#if data}}
                <span style="display: none" class="hide">
                {{#each data}}
             		{{#if meta}}
					        {{#isnt meta "@sys.ignore" }}
						        #{{alias}}
					        {{/isnt}}
					        {{#eq meta "@sys.ignore"}}
						        {{text}}
					        {{/eq}}
				    {{else}}
                        {{text}}
                        
				    {{/if}}

                {{/each}}
                </span>
                <input type="text" class="form-control user input" name="user" placeholder="Pregunta" value="">
                {{/if}}
                 {{#if @index}}
                    <button type="button" class="btn-delete-variant btn btn-sm btn-indigo botonBorrar"><i class="fa fa-trash"></i></button>
                 {{/if}}
                
                </div>
            {{/each}}
                <div id="collection"></div>
                <p class="span red-text"></p>
                <p id="err-user" class="red-text"></p>
                <div class="divBoton btnPregunta">
                    <button type="button" id="addUserText" name="addUserText" class="btn btn-indigo botonMediano">Añadir</button>
                </div>   
            </form>     
        </div>
        
        <div class="card cardDetallesIntent cardResp cardRespuesta">
            <input type="hidden" name="hidden" value=""/>
            <h6 class="subtituloEntidad">Respuestas</h6>
            <hr class="hrTitulo">
            <form class="form-inline md-form form-sm">
        {{#each this.responses }}
            {{#if messages}}
                {{#each messages}}
                    {{#if textToSpeech}}
                                <div class="md-form divRespuesta bloq type-text">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <input type="text" class="form-control response validate" placeholder="Respuesta" value="{{textToSpeech}}">
                                    <button class="btn btn-sm btn-indigo botonBorrar btn-delete-variant" type="button"><i class="fa fa-trash"></i></button>
                                </div>
                    {{/if}}
                    {{#if items}}
                                {{#each items}}
                                    <div class="md-form divRespuesta bloq type-text">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                        <input type="text" class="form-control response validate" placeholder="Respuesta" value="{{textToSpeech}}">
                                        <button class="btn btn-sm btn-indigo botonBorrar btn-delete-variant" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                {{/each}}
                    {{/if}}
                    {{#if image}}
                                <div class="md-form divRespuesta bloq type-image">
                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                    <input type="text" class="form-control response validate" placeholder="Respuesta" value="{{image.url}}">
                                    <button class="btn btn-sm btn-indigo botonBorrar btn-delete-variant" type="button"><i class="fa fa-trash"></i></button>
                                </div>
                    {{/if}}
                    {{#if url}}
                                <div class="md-form divRespuesta bloq type-link">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <input type="text" class="form-control response" placeholder="Respuesta" value="{{destinationName}}">
                                    <input type="text" class="form-control url" placeholder="Respuesta" value="{{url}}">
                                    <button class="btn btn-sm btn-indigo botonBorrar btn-delete-variant" type="button"><i class="fa fa-trash"></i></button>
                                </div>
                                
                    {{/if}}
                {{/each}}
                {{/if}}
            {{/each}}
                    <div class="divBoton btnRespuesta">
                        <button type="button" class="text-li btn btn-indigo botonMediano btnAddVariant" name="type-text">Texto</button>
                        <button type="button" class="image-li btn btn-indigo botonMediano btnAddVariant" name="type-image">Imagen/Gif</button>
                        <button type="button" class="link-li btn btn-indigo botonMediano btnAddVariant" name="type-link">Enlace/Documento</button>
                    </div>   
                </form>
            </div>

        <!--<div class="flex-center divBotonesPequennos btn-respuesta" id="accordion2">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="subtituloEntidad">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Añadir Respuesta</button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse bodyOpAvan" aria-labelledby="headingTwo" data-parent="#accordion2">
                    <div class="md-form">
                        <button type="button" class="text-li indigo-text addRespuesta form-control btn btn-indigo" name="type-text">Texto</button>
                        <button type="button" class="image-li indigo-text addRespuesta form-control btn btn-indigo" name="type-image">Imagen/Gif</button>
                        <button type="button" class="link-li indigo-text addRespuesta form-control btn btn-indigo" name="type-link">Enlace/Documento</button>
                    </div>
                </div>
            </div>
        </div>-->
        <p id="err" class="red-text"></p>

            <div id="accordion" class="cardDetallesIntent cardResp opAvan">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link OpAv" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Opciones Avanzadas</button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse bodyOpAvan" aria-labelledby="headingOne" data-parent="#accordion">
                        <form class="d-flex flex-column align-items-center formOpAvan"> 
                            <div class="md-form">
                                <input type="text" id="contextIn" class="form-control" value="{{ this.contexts }}">
                                <input type="text" id="contextOut" class="form-control" value="{{ this.responses.0.affectedContexts.0.name }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <div class="flex-center divBotonesPequennos" >
            <form action="/{{this.id}}" class="editIntentButtons">
                <button class="btn btn-warning botonPequenno ">Cancelar</button>
            </form>
            <form action="#" class="editIntentButtons">
                <button type="submit" id="btn_edit_intent" name="btn_edit_intent" class="btn btn-indigo botonPequenno">Guardar</button> 
            </form>
        </div>

        <script>
            $(function(){
                $(".bloq").each(function(element){
                    console.log(element);
                });
            });
        </script>