<!--<div id="body-wrapper">
  <div class="row">
    <h4 class="center indigo white-text">Usuarios</h4>
    <ul id="users_list" class="col s10 m8 offset-m2 offset-s1">
            {{#each this}}
            <li class="row li-group">
              <input type="hidden" class='hidden' value= {{ valido }}>
              <span class="col s6 m6 list-group">{{ user }}</span>
              <div class="divd col s6 m6">
                <button id= {{ user }} class="deny left btn indigo right"><i class="material-icons"></i></button>
              </div>
            </li>
            {{/each }}
    </ul>
</div>
</div> -->

      <div class="divTituloPagina"><h2 class="tituloPagina">Usuarios</h2></div>
      <div class="listadoUsuarios">
        <div class="divUsuario" id="users_list">
          {{#each this}}
          <div>
            <input type="hidden" class="hidden" value="{{valido}}">
            <p class="nombreUsuario">{{user}}</p>
            <div>
              <button id="{{user}}" class="btn btn-primary botonValidar deny">
                {{#if_eq valido}}
                <i class="fa fa-check"></i>
                {{else}}
                <i class="fa fa-close"></i>
                {{/if_eq}}
              </button>
            </div>
          </div>
          {{/each}}
        </div>
      </div>  